[Desktop Entry]
Encoding=UTF-8
Version=1.0
Name=CEICSV
Comment=Sales system by CEIC
Exec=/opt/CEICSV/ceicsv.py
Icon=/opt/CEICSV/qt/images/logo.png
Path=/opt/CEICSV/
Terminal=false
Type=Application
Categories=Application;
Comment[es_VE]=Sistema de Ventas del CEIC
GenericName[es_VE]=CEIC SV
