[Desktop Entry]
Encoding=UTF-8
Version=1.0
Name=CEIC Suite
Comment=Sales system by CEIC
Exec=/opt/CEICSV/ceic_suite.py
Icon=/opt/CEICSV/interface/qt/images/logo.png
Path=/opt/CEICSV/
Terminal=false
Type=Application
Categories=Application;
Comment[es_VE]=Sistema de ventas y préstamos de libros del CEIC
GenericName[es_VE]=CEIC Suite
Name[es_VE]=CEIC Suite
